{% extends 'blogapp/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}



{% block content %}

<div id="content">
	<div class="inner">
		<article class="box post post-excerpt">
			<header>
								<!--
									Note: Titles and subtitles will wrap automatically when necessary, so don't worry
									if they get too long. You can also remove the <p> entirely if you don't
									need a subtitle.
								-->
								<h2>{{instance.title}}</h2>
								{{instance.timestamp}}
								<p>Posted by {{ instance.submitter }}</p>
							</header>
							<div class="info">								
								<ul class="stats">
									<li>			
										 <!--<form action="/vote/{{instance.id}}/" method="POST" id="upvote_form_post" > 		-->								
										 <form action="{% url 'blogapp:vote_handler' %}" method="POST" id="upvote_form_post" > 
											{% csrf_token %}
											<input type="hidden" name="user" value="{{request.user}}">
											<input type="hidden" name="content_type_upvote" value="{{ instance.get_content_type }}">												
											<input type="hidden" name="object_id_upvote" value="{{ instance.get_id }}">					
											<button type="submit" class="icon fa-heart button-link" form="upvote_form_post" name="upvote_form_post" value="Submit"> &nbsp{{ instance.vote_count }}</button>
										</form>

									</li>									
								</ul>
							</div>
							<p>	
								{% if instance.url %}
								{{ instance.url }}<br>
								{% endif %}
								{% if instance.image %}
								<img src="{{instance.image.url}}" class="img-responsive">
								{% endif %}
								<div class="content-markdown">
									{{instance.content|safe}}
								</div>
							</p>

							<div>
								<h2>Comments</h2>
								<hr/>

								<div>
									{% if request.user.is_authenticated %}
									<form action="." method="POST" id="comment_form">
										{% csrf_token %}
										{{ comment_form|crispy }}
										<br/>
										<button type="submit" form="comment_form" value="Submit">Submit</button></input>
									</form>
									{% else %}
									<p> You must be logged in comment. </p>
									{% endif %}
								</div>
								<hr/>
								{% for comment in comments %}

								<blockquote>
									{{ comment.content }}
									<br/>
									<footer>

										<form action="{% url 'blogapp:vote_handler' %}" method="POST" id="upvote_form_comment">
											{% csrf_token %}
											<input type="hidden" name="user" value="{{request.user}}">
											<input type="hidden" name="content_type_upvote" value="{{ comment.get_content_type }}">												
											<input type="hidden" name="object_id_upvote" value="{{ comment.get_id }}">					
											<button type="submit" class="icon fa-heart button-link" name="upvote_form_comment"
											form="upvote_form_comment" value="Submit"> &nbsp{{ comment.vote_count }}</button>
										</form>
										|
										<small>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago
										</small>
										{% if comment.children.count > 0 %}
										|
										{{comment.children.count}}
										comment{% if comment.children.count > 1 %}s{% endif %}
										{% endif %}
										|
										<a href="#" class="comment-reply-link">Reply</a>
										<hr/>
									</footer>

									<div style="display:none" class="comment-reply-section">
										{% for child_comment in comment.children %}
										<blockquote>
											{{ child_comment.content }}
											<br/>
											<small>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago 
											</small>
											<hr/>
										</blockquote>
										{% endfor %}

										<div>
											{% if request.user.is_authenticated %}
											<form action="." method="POST">
												{% csrf_token %}
												{{ comment_form|crispy }}
												<br/>
												<input type="hidden" name="parent_id" value="{{ comment.id }}"></input>
												<input type="submit" value="Reply"></input>
											</form>
											{% else %}
											<p> You must be loged in to reply </p>
											{% endif%}
										</div>
									</div>
								</blockquote>


								{% endfor %}

							</div>

						</article>
					</div>
				</div>

				{% endblock content %}
