<div id="sidebar">

	<!-- Logo -->
	<h1 id="logo"><a href="#">STRIPED</a></h1>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li class="current"><a href="{% url 'blogapp:list' %}">Home Page</a></li>
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'blogapp:account_page' user_id=request.user.id %}">My Account: <b>{{ request.user }}</b></a></li>
			{% else %}
			<li><a href="{% url 'login'  %}">Login</a></li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'logout'  %}">Logout</a></li>
			{% endif %}
		</ul>
	</nav>

	<section class="box text-style1">
		<div class="inner">
			
			<b><strong><a href="{% url 'blogapp:post_create' %}">Create post</a></strong></b>
			
		</div>
	</section>

</div>



