<div id="sidebar">

	<!-- Logo -->
	<h1 id="logo"><a href="#">STRIPED</a></h1>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li class="current"><a href="{% url 'blogapp:list' %}">Home Page</a></li>
			<li><a href="#">Archives</a></li>
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'blogapp:account_page' user_id=request.user.id %}">My Account: <b>{{ request.user }}</b></a></li>
			{% else %}
			<li><a href="{% url 'login'  %}">Login</a></li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li><a href="{% url 'logout'  %}">Logout</a></li>
			{% endif %}
		</ul>
	</nav>

	<!-- Search -->
	<section class="box search">
		<form method="GET" action="{% url 'blogapp:list' %}">
			<input type="text" class="text" name="search" placeholder="Search" />
		</form>
	</section>

	<!-- Text -->
	<section class="box text-style1">
		<div class="inner">
			
				<b><strong><a href="{% url 'blogapp:post_create' %}">Create post</a></strong></b>
			
		</div>
	</section>

	<!-- Recent Posts -->
	<section class="box recent-posts">
		<header>
			<h2>Recent Posts</h2>
		</header>
		<ul>
			<li><a href="#">Lorem ipsum dolor</a></li>
			<li><a href="#">Feugiat nisl aliquam</a></li>
			<li><a href="#">Sed dolore magna</a></li>
			<li><a href="#">Malesuada commodo</a></li>
			<li><a href="#">Ipsum metus nullam</a></li>
		</ul>
	</section>

	<!-- Recent Comments -->
	<section class="box recent-comments">
		<header>
			<h2>Recent Comments</h2>
		</header>
		<ul>
			<li>case on <a href="#">Lorem ipsum dolor</a></li>
			<li>molly on <a href="#">Sed dolore magna</a></li>
			<li>case on <a href="#">Sed dolore magna</a></li>
		</ul>
	</section>

	
	
	
